body { /* Targets the entire page */

    font-family: Arial, sans-serif; /* Sets the font and backup */

    background-color: #f4f6f8; /* Background colour using hex code */

    margin: 0; /* Removes automatic margin from browser */

    padding: 20px; /* Adds space inside the page */

}
    
h1 { /* Targets biggest heading */

    text-align: center; /* Centers the text */

}

h2 { /* Targets h2 headings*/

    margin-top: 30px; /* Adds gap between each section */

}

/* Holds all of the revision cards */
.card-container {

    /* Places cards next to each other */
    display: flex;

    /* Allows cards to move to a new line on smaller screens */
    flex-wrap: wrap;

    /* Adds spaces between the cards */
    gap: 20px;

}

/* Styles each revision card */
.card{

    /* Gives the card a white background */
    background-color: white;

    /* Adds space insde the card */
    padding: 20px;

    /* Makes rounded corners */
    border-radius: 10px;

    /* Removes the dault hyperlink underline */
    text-decoration: none;

    /* Changes text colour */ 
    color: black;

    /* Makes the card bigger and easier to tap on */
    width: 200px;

    /* Makes changes happen smoothly */
    transition: 0.2s;

    /* Adds depth to the cards */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

/* Styles the inside of each card */
.card h3{

    /* Removes the default large gap above headings */
    margin-top: 0;

}

/* Styles the description inside each card */
.card p {

     /* Makes the description easier to read */
    line-height: 1.5;

}



/* Changes the card when the user hovers over it */
.card:hover {

    /* Makes the card move slightly upwards */
    transform: translateY(-5px);

    box-shadow: 0 8px 16px rgba(0,0,0,0.15);

}

/* Styles content sections on revision pages */
.section{

    /*Gives each section a white card background */
    background-color: white;

    /* Adds space inside */
    padding: 20px;

    /* Rounds the corners */
    border-radius: 10px;

    /* Adds space between sections*/
    margin-bottom: 20px;

    /* Adds depth */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Styles character information cards */
.character{

    /* Adds a light background */
    background-color: #f4f6f8;

    /* Adds space inside */
    padding: 15px;

    /* Adds space between characters */
    margin-bottom: 15px;

    /* Rounds corners */
    border-radius: 8px;
    
}

/* Styles links that takes user back to previous pages */
.navbar{

    /* Places item next to each other */
    display: flex;

    /* Adds space between buttons */
    justify-content: space-between;

    /* Adds space inside */
    padding: 10px 20px;

    /* White background */
    background: white;

    /* Rounded corners */
    border-radius: 10px;

    /* Space below navbar */
    margin-bottom: 20px;

}

/* Styles navigation links */
.navbar a {

    /* Removes underline */
    text-decoration: none;

    /* text colour */
    color: black;
    
}