<!DOCTYPE html>

<html>

<head>

    <!-- Allows other pages to insert their title -->

    <title>

        {% block title %}GCSE Revision App{% endblock %} 

    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json')}}">

</head>

<body>

<nav class="navbar">

    <a href="javascript:history.back()">

        &larr; Back

    </a>

    <a href="/">

        Home

    </a>

</nav>

<!-- Other pages can put their content here -->

<main class="page-container">

    {% block content %}

    {% endblock %}

</main>

<script>

if("serviceWorker" in navigator) {

    navigator.serviceWorker.register("/static/service-worker.js");

}

</script>

</body>

</html>