<!DOCTYPE html>

<html>

<head>

    <title> English Revision </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"">

</head>

<body>

<a href="/" class="back-button">

    <- Back to Revision Hub
</a>


<h1> English Revision </h1>

<div class="card-container">

    <a href="/english-literature" class="card">

        <h3> English Literature </h3>

        <p>

         Revise texts, characters, themes and quotes.

        </p>
    
    </a>

    <a href="/english-language" class="card">

        <h3> English Language </h3>

        <p>

            Revise readign, writing and exam skills

        </p>

    </a>

</div>

</body>

</html>