{% extends "base.html" %}

{% block title %}
Macbeth Characters
{% endblock %}

{% block content %}

<h1>Macbeth Characters</h1>

<p class="page-intro">

    Select a character to revise their role, development, themes and key quotations.

</p>

<div class="card-container">

    <a href="/macbeth/characters/macbeth" class="card">

        <h3>Macbeth</h3>

        <p>

            <strong>Tragic hero</strong>
        </p>

        <p>

            Ambition • Power • Guilt

        </p>

    </a>


    <a href="/macbeth/characters/lady-macbeth" class="card">

        <h3> Lady Macbeth </h3>

        <p>

           <strong>Ambitious manipulator</strong>

        </p>

        <p>

            Power • Guilt • Gender

        </p>

    </a>



    <a href="/macbeth/characters/banquo" class="card">

        <h3> Banquo </h3>

        <p>

            <strong>Moral contrast to Macbeth</strong>

        </p>

        <p>

            Loyalty • Morality • Honour

        </p>

    </a>

    <a href="/macbeth/characters/macduff" class="card">

        <h3> Macduff </h3>

        <p>

            <strong>Oppenent of tryanny</strong>

        </p>

        <p>

            Justice • Revenge • Loyalty
        </p>

    </a>

    <a href="/macbeth/characters/the-witches" class="card">

        <h3> The Witches </h3>

        <p>

            <strong>Supernatural influence</strong>

        </p>

        <p>

            Fate • Temptation • Prophecy
            
        </p>

    </a>

</div>

{% endblock %}