{% extends "base.html" %}

{% block title %}
Macbeth themes
{% endblock %}

{% block content %}

<h1> Macbeth Themes </h1>

<p class="page-intro">

    Explore the main themes in Macbeth and how Shakespeare develops them.

</p>

<div class="card character-card">

    <h2>Ambition</h2>

    <p>

        Ambition drives much of the play. Macbeth's desire for power grows after hearing the witches' prophecies, eventually leading him to betray his values and commit increasily violent and treacherous actions.

    </p>

    <h3>Key characters</h3>

    <ul>

        <li>Macbeth</li>

        <li>Lady Macbeth</li>

        <li>The Witches</li>

    </ul>

    <h3>Key quotations</h3>

    <ul>

        <li><em>"Vaulting ambition"</em></li>

        <li><em>"Why do I yield to that horrid image that doth unfix my hair and make my seated heart knock at my ribs"</em></li>

    </ul>

</div>

<div class="card character-card">

    <h2>Guilt</h2>

    <h3>Overview</h3>

    <p>

        Guilt affects both Macbeth and Lady Macbeth. It appears through fear, hallucinations, and distrubuted sleep, showing their psychological cost of their actions.

    </p>

    <h3>Key characters</h3>

    <ul>

        <li>Macbeth</li>

        <li>Lady Macbeth</li>

    </ul>

    <h3>Key quotations</h3>

    <ul>

        <li><em>"Will all great Neptune's ocean wash this blood clean from my hand?"</em></li>

        <li><em>"I am in blood stepped in so far that, should I wade no more, returning were as tedious as go'er"</em></li>

    </ul>

</div>

<div class="card character-card">

    <h2>The supernatural</h2>

    <h3>Overview</h3>

    <p>

        The supernatural creates uncertainty throughout the play. The witches, visions and apparitions influence Macbeth, but Shakespeare leaves open the question of whether they contorl him or merely tempt him.
    
    </p>

    <h3>Key characters</h3>

    <ul>

        <li>The Witches</li>

        <li>Macbeth</li>

        <li>Banquo</li>

    </ul>

    <h3>Key quotations</h3>

    <ul>

        <li><em>"Fair is foul, foul is fair"</em></li>

        <li><em>"Heat oppressed brain"</em></li>

    </ul>
    
</div>

<div class="card character-card">

    <h2>Power and kingship</h2>

    <h3>Overview</h3>

    <p>

        The play contrasts rightful kingship with tyranny. Duncan and Malcolm are linked with order and loyaly, while Macbeth rules with fear and violence.

    </p>

    <h3>Key characters</h3>

    <ul>

        <li>Duncan</li>

        <li>Macbeth</li>

        <li>Malcolm</li>

        <li>Macduff</li>

    </ul>

    <h3>Key quotations</h3>

    <ul>

        <li><em>"Here lays Duncan, his silver skin laced with golden blood, his gashed stabs looking like a breach in nature"</em></li>

        <li><em>"Bleed, bleed, pour country"</em></li>

    </ul>
    
</div>

{% endblock %}