<!DOCTYPE html>

<html>

<head>

    <title>Macbeth Revision</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

</html>

<body>

<h1>Macbeth Revison</h1>

<div class="section">

    <h2>Overview</h2>

    <p>

        Macbeth is a tragedy by William Shakespeare.
        It explores ambition, power, guilt and the consequences 
        of seeking control.

    </p>

</div>

<div class="section">

    <h2>Characters</h2>

    <div class="character">

        <h3>Macbeth</h3>

        <p>

            Macbeth is a brave warrior whose ambition leads him to commit terrible actions.

        </p>

    </div>

    <div class="character">

        <h3>Lady Macbeth</h3>

        <p>

            Lady Macbeth is ambitious and manipulative, encouraging Macbeth to pursue power.

        </p>

    </div>
    
    <div class="character">

        <h3>Banquo</h3>

        <p>

            Banquo is Macbeth's friend who represents morality and loyalty.

        </p>

    </div>

    <div class="character">

        <h3>The Witches</h3>

        <p>

            The Witches introduce the supernatural elements and influence Macbeth's decisions.

        </p>

    </div>

</div>

    

</body>

</html>