{% extends "base.html" %}

{% block title %}
Macbeth Characters
{% endblock %}

{% block content %}

<p class="page-intro">

    Learn the key characters, their roles, themes and quotations.

</p>

<div class="card character-card">

    <h2>Macbeth</h2>

    <p>

        Macbeth is the tragic hero of the play. He begins as a respected and courageous soldier, but his ambition and the witches' prophecies lead him towards violence, betrayl, and tyranny.

    </p>

    <h3> Key themes </h3>

    <ul>
        <li>Ambition</li>
        <li>Power</li>
        <li>Guilt</li>

    </ul
    
    <h3>Key quotations</h3>

    <p>

        <em>"disdaining fortune with his brandished steel which smoked with bloody execution"</em>

    </p>
  
</div>

<div class="card character-card">

    <h2> Lady Macbeth </h2>

    <p>

        Lady Macbeth encourages Macbeth to pursue his ambition of taking the crown. She initially appears determined and ruthless but later becomes overwhelmed by guilt.

    </p>

</div>

<div class="card character-card">

    <h2> Banquo </h2>

    <p>

        Banquo is Macbeth's friend and fellow soldier. Unlike Macbeth, he is cautious about the witches' prophecies and represents loyalty and self-control.

    </p>

</div>

<div class="card character-card">

    <h2> The Witches </h2>

    <p>

        The witches introduce the supernatural and tempt Macbeth with prophecies about his future Their language creates uncertainty and confusion.

    </p>

</div>

{% endblock %}